{% extends "layouts/app.twig" %}

{% block content %}
    {% include "components/header.twig" %}

    <div class="flex-grow container mx-auto px-4">
        <ul class="flex justify-center flex-wrap">
            {% for image in images %}
                <li class="m-4">
                    <a href="{{ image_url(album, image) }}" title="{{ image.name }}" class="block relative rounded shadow-md overflow-hidden hover:-top-2 hover:shadow-lg">
                        <img src="{{ thumbnail_url(album, image) }}" alt="{{ image.name }}" class="w-64 h-64 object-cover">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% include 'components/footer.twig' %}

    {% include 'components/modal.twig' %}
    <script src="{{ asset('modal.js') }}" defer></script>
{% endblock %}
