<!DOCTYPE html>
<html>
    {{ include('partials/head.twig') }}

    <body>
        <div id="album" class="container">
            <h1 id="album-title" class="text-white display-4">
                <a href="/">&lt;</a>
                {{ title }}
            </h1>

            <div class="d-flex flex-wrap justify-content-around my-3">
                {% for image in images %}
                    <a href="{{ imagePath(image.name) }}" title="{{ image.name }}" class="image rounded position-relative m-3">
                        <img src="{{ thumbnailPath(image.name) }}" alt="{{ image.name }}">
                    </a>
                {% endfor %}
            </div>
        </div>

        {{ include('partials/pagination.twig') }}

        Powered by <a href="http://www.ubergallery.net">UberGallery</a>

        {{ include('partials/modal.twig') }}
        <script src="{{ asset('js/modal.js') }}" defer></script>
    </body>
</html>
